.filter-container {
  position: relative;
  margin: 1rem 0;

  .filter-controls {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    button {
      padding: 0.3rem 0.8rem;
    }
  }

  .filters {
    position: absolute;
    right: 0;
    margin-block-start: 1px;
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #444;

    .filter-item {
      &:not(:last-child) {
        border-bottom: 1px solid #444;
      }
      button {
        width: 100%;
        text-align: left;
        border: none;
        background-color: #222;
        padding: 0.3rem 0.5rem;
      }
    }
  }
}

