.App {
  background-color: #111;
  color: #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    max-width: 90vw;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.houses {

}

.house {
  border: 1px solid white;
  padding: 1rem;
}

footer {
  text-align: center;
}
