.App {
  background-color: #111;
  color: #ccc;
}

.header {
  margin: 0 auto;
  max-width: 90vw;
  text-align: center;
  font-size: calc(10px + 2vmin);

  h1 {
    margin-top: -2rem;
  }

  .logo {
    max-width: 90vw;
  }
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1200px;
}

.houses {

}

footer {
  padding: 1rem;
  text-align: center;
}
